doctype html
html( lang='en' )

  head
    include head/_head

  body
    include svgs/_svgs
    
    include _nav
    
    main(id='main-container')
      block body
    
    include _loader

    include scripts/_scripts