nav: ul
  li: a(class='js-hijax-anchor' href='/') home
  li: a(class='js-hijax-anchor' href='/about') about
  li: a(class='js-hijax-anchor' href='/contact') contact
  li: a(class='js-hijax-anchor' href='/blog') blog