$EM-BASE: 18px;

// $FOLDERS
$IMAGES_DIR: '../assets/images/';

// $MEDIA-QUERIES
$XS_MAX_WIDTH: 450px;
$SM_MIN_WIDTH: 768px;
$MD_MIN_WIDTH: 992px;
$LG_MIN_WIDTH: 1200px;

// $COLORS
$WHITE: #FFF;
$BLACK: #403F41;

// $FONTS
$FONT: "Verdana,Geneva,sans-serif";
